.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }

.mapboxgl-popup-content {
    padding: 0;
    text-align: left;
    font-family: "Avant Garde Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0px 0px 40px 10px #99999940;
}
