name: Continuous Integration

on:
  pull_request:

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}

    - name: Prettify code
      uses: creyD/prettier_action@v3.0
      with:
        # this formats all ts files everywhere, change it to just backend?
        dry: true
        prettier_options: --check "backend/src/**/*.ts"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
